<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiongyc.product.dao.ISysDictDao">
<resultMap id="BaseResultMap"  type="com.xiongyc.product.bean.SysDict" >
	<result column="dict_id" property="dictId" jdbcType="VARCHAR" />
	<result column="dict_code" property="dictCode" jdbcType="VARCHAR" />
	<result column="dict_value" property="dictValue" jdbcType="VARCHAR" />
	<result column="dict_remark" property="dictRemark" jdbcType="VARCHAR" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
</resultMap> 
<sql id="Criteria_Where_Clause"> 
	<where> 
		<if test="params.dictId!=null">
			 and dict_id=#{params.dictId}
		</if>
		<if test="params.dictCode!=null">
			 and dict_code=#{params.dictCode}
		</if>
		<if test="params.dictValue!=null">
			 and dict_value=#{params.dictValue}
		</if>
		<if test="params.dictRemark!=null">
			 and dict_remark=#{params.dictRemark}
		</if>
		<if test="params.createTime!=null">
			 and create_time=#{params.createTime}
		</if>
	</where> 
</sql> 
<sql id="Base_Column_List">
  dict_id,dict_code,dict_value,dict_remark,create_time
</sql> 
<select id="queryPage" resultMap="BaseResultMap" parameterType="com.xiongyc.utils.mybatis.Criteria"> 
	select 
	<include refid="Base_Column_List" />
	from t_sys_dict
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
	<if test="orderBy!=null"> 
		order by ${orderBy} 
	</if> 
</select> 
<select id="queryList" resultMap="BaseResultMap" parameterType="com.xiongyc.utils.mybatis.Criteria"> 
	select 
	<include refid="Base_Column_List" />
	from t_sys_dict
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
	<if test="orderBy!=null"> 
		order by ${orderBy} 
	</if> 
</select> 
<select id="queryPageCount" resultType="java.lang.Integer" parameterType="com.xiongyc.utils.mybatis.Criteria"> 
	select count(1) from t_sys_dict 
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
</select> 
<select id="queryEntityById" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List" />
	from t_sys_dict	where dict_id = #{dictId}
</select>
<insert id="insert" parameterType="com.xiongyc.product.bean.SysDict"> 
	insert into t_sys_dict
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="dictId != null"> 
			dict_id,
		</if>
		<if test="dictCode != null"> 
			dict_code,
		</if>
		<if test="dictValue != null"> 
			dict_value,
		</if>
		<if test="dictRemark != null"> 
			dict_remark,
		</if>
		<if test="createTime != null"> 
			create_time,
		</if>
	</trim>
	values
	<trim prefix="(" suffix=")" suffixOverrides=",">
	<if test="dictId != null"> 
		#{dictId},
	</if>
	<if test="dictCode != null"> 
		#{dictCode},
	</if>
	<if test="dictValue != null"> 
		#{dictValue},
	</if>
	<if test="dictRemark != null"> 
		#{dictRemark},
	</if>
	<if test="createTime != null"> 
		#{createTime},
	</if>
	</trim>
</insert>
<insert id="insertBatch" parameterType="java.util.List"> 
	insert into t_sys_dict
	<trim prefix="(" suffix=")" suffixOverrides=",">
			dict_id,dict_code,dict_value,dict_remark,create_time
	</trim>
	values
	<foreach collection="list" item="item" separator=",">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{item.dictId},#{item.dictCode},#{item.dictValue},#{item.dictRemark},#{item.createTime}
		</trim>
	</foreach>
</insert>
<!--  批量保存 存在更新不存在插入(如果指定一个on duplicate key update子句，并且要插入的行将导致唯一索引或主键中的值重复，
则会更新旧行, 对于innodb表，如果a是自动递增列，则效果不相同。对于自动递增列，insert语句会增加自动递增值，但update不会。 )
详细文档 https://dev.mysql.com/doc/refman/5.5/en/insert-on-duplicate.html -->
<insert id="insertOrUpdateBatch" parameterType="java.util.List"> 
	<foreach collection="list" item="item" separator=";">
	insert into t_sys_dict
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="item.dictId != null"> 
			dict_id,
		</if>
		<if test="item.dictCode != null"> 
			dict_code,
		</if>
		<if test="item.dictValue != null"> 
			dict_value,
		</if>
		<if test="item.dictRemark != null"> 
			dict_remark,
		</if>
		<if test="item.createTime != null"> 
			create_time,
		</if>
	</trim>
	values
	<trim prefix="(" suffix=")" suffixOverrides=",">
	<if test="item.dictId != null"> 
		#{item.dictId},
	</if>
	<if test="item.dictCode != null"> 
		#{item.dictCode},
	</if>
	<if test="item.dictValue != null"> 
		#{item.dictValue},
	</if>
	<if test="item.dictRemark != null"> 
		#{item.dictRemark},
	</if>
	<if test="item.createTime != null"> 
		#{item.createTime},
	</if>
	</trim>
	ON DUPLICATE KEY UPDATE
	dict_code = #{item.dictCode},dict_value = #{item.dictValue},dict_remark = #{item.dictRemark},create_time = #{item.createTime}
	</foreach>
</insert>
<update id="updateByCriteria" parameterType="com.xiongyc.utils.mybatis.Criteria">
	update t_sys_dict
	<set>
	<if test="record.dictId != null"> 
		dict_id = #{record.dictId},
	</if>
	<if test="record.dictCode != null"> 
		dict_code = #{record.dictCode},
	</if>
	<if test="record.dictValue != null"> 
		dict_value = #{record.dictValue},
	</if>
	<if test="record.dictRemark != null"> 
		dict_remark = #{record.dictRemark},
	</if>
	<if test="record.createTime != null"> 
		create_time = #{record.createTime},
	</if>
	</set>
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</update>
<update id="updateBatchByCriteria" parameterType="java.util.List">
	<foreach collection="list" item="params" separator=";">
		update t_sys_dict
		<set>
		<if test="params.dictCode != null"> 
			dict_code = #{params.dictCode},
		</if>
		<if test="params.dictValue != null"> 
			dict_value = #{params.dictValue},
		</if>
		<if test="params.dictRemark != null"> 
			dict_remark = #{params.dictRemark},
		</if>
		<if test="params.createTime != null"> 
			create_time = #{params.createTime},
		</if>
		</set>
		<if test="params != null">
			<where>
				<if test="params.dictId !=null">
					and dict_id=#{params.dictId }
				</if>
			</where>
		</if>
	</foreach>
</update>
<delete id="deleteByCriteria" parameterType="com.xiongyc.utils.mybatis.Criteria">
	delete from t_sys_dict
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</delete>
<delete id="deleteById" parameterType="java.lang.String">
	delete from t_sys_dict
	where dict_id = #{dictId}
</delete>
<delete id="deleteBatchByIds">
	delete from t_sys_dict
	where apply_id in
	<foreach collection="array" item="id" open="(" close=")" separator=",">
		#{id}
	</foreach>
</delete>
</mapper>
