<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiongyc.product.dao.ISysTestDao">
<resultMap id="BaseResultMap"  type="com.xiongyc.product.bean.SysTest" >
	<result column="id" property="id" jdbcType="VARCHAR" />
	<result column="name" property="name" jdbcType="VARCHAR" />
	<result column="bat_test" property="batTest" jdbcType="VARCHAR" />
</resultMap> 
<sql id="Criteria_Where_Clause"> 
	<where> 
		<if test="params.id!=null">
			 and id=#{params.id}
		</if>
		<if test="params.name!=null">
			 and name=#{params.name}
		</if>
		<if test="params.batTest!=null">
			 and bat_test=#{params.batTest}
		</if>
	</where> 
</sql> 
<sql id="Base_Column_List">
  id,name,bat_test
</sql> 
<select id="queryPage" resultMap="BaseResultMap" parameterType="com.xiongyc.utils.mybatis.Criteria"> 
	select 
	<include refid="Base_Column_List" />
	from sys_test
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
	<if test="orderBy!=null"> 
		order by ${orderBy} 
	</if> 
</select> 
<select id="queryList" resultMap="BaseResultMap" parameterType="com.xiongyc.utils.mybatis.Criteria"> 
	select 
	<include refid="Base_Column_List" />
	from sys_test
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
	<if test="orderBy!=null"> 
		order by ${orderBy} 
	</if> 
</select> 
<select id="queryPageCount" resultType="java.lang.Integer" parameterType="com.xiongyc.utils.mybatis.Criteria"> 
	select count(1) from sys_test 
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
</select> 
<select id="queryEntityById" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List" />
	from sys_test	where id = #{id}
</select>
<insert id="insert" parameterType="com.xiongyc.product.bean.SysTest"> 
	insert into sys_test
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="id != null"> 
			id,
		</if>
		<if test="name != null"> 
			name,
		</if>
		<if test="batTest != null"> 
			bat_test,
		</if>
	</trim>
	values
	<trim prefix="(" suffix=")" suffixOverrides=",">
	<if test="id != null"> 
		#{id},
	</if>
	<if test="name != null"> 
		#{name},
	</if>
	<if test="batTest != null"> 
		#{batTest},
	</if>
	</trim>
</insert>
<insert id="insertBatch" parameterType="java.util.List"> 
	insert into sys_test
	<trim prefix="(" suffix=")" suffixOverrides=",">
			id,name,bat_test
	</trim>
	values
	<foreach collection="list" item="item" separator=",">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{item.id},#{item.name},#{item.batTest}
		</trim>
	</foreach>
</insert>
<!--  批量保存 存在更新不存在插入(如果指定一个on duplicate key update子句，并且要插入的行将导致唯一索引或主键中的值重复，
则会更新旧行, 对于innodb表，如果a是自动递增列，则效果不相同。对于自动递增列，insert语句会增加自动递增值，但update不会。 )
详细文档 https://dev.mysql.com/doc/refman/5.5/en/insert-on-duplicate.html -->
<insert id="insertOrUpdateBatch" parameterType="java.util.List"> 
	<foreach collection="list" item="item" separator=";">
	insert into sys_test
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="item.id != null"> 
			id,
		</if>
		<if test="item.name != null"> 
			name,
		</if>
		<if test="item.batTest != null"> 
			bat_test,
		</if>
	</trim>
	values
	<trim prefix="(" suffix=")" suffixOverrides=",">
	<if test="item.id != null"> 
		#{item.id},
	</if>
	<if test="item.name != null"> 
		#{item.name},
	</if>
	<if test="item.batTest != null"> 
		#{item.batTest},
	</if>
	</trim>
	ON DUPLICATE KEY UPDATE
	name = #{item.name},bat_test = #{item.batTest}
	</foreach>
</insert>
<update id="updateByCriteria" parameterType="com.xiongyc.utils.mybatis.Criteria">
	update sys_test
	<set>
	<if test="record.id != null"> 
		id = #{record.id},
	</if>
	<if test="record.name != null"> 
		name = #{record.name},
	</if>
	<if test="record.batTest != null"> 
		bat_test = #{record.batTest},
	</if>
	</set>
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</update>
<update id="updateBatchByCriteria" parameterType="java.util.List">
	<foreach collection="list" item="params" separator=";">
		update sys_test
		<set>
		<if test="params.name != null"> 
			name = #{params.name},
		</if>
		<if test="params.batTest != null"> 
			bat_test = #{params.batTest},
		</if>
		</set>
		<if test="params != null">
			<where>
				<if test="params.id !=null">
					and id=#{params.id }
				</if>
			</where>
		</if>
	</foreach>
</update>
<delete id="deleteByCriteria" parameterType="com.xiongyc.utils.mybatis.Criteria">
	delete from sys_test
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</delete>
<delete id="deleteById" parameterType="java.lang.String">
	delete from sys_test
	where id = #{id}
</delete>
<delete id="deleteBatchByIds">
	delete from sys_test
	where apply_id in
	<foreach collection="array" item="id" open="(" close=")" separator=",">
		#{id}
	</foreach>
</delete>
</mapper>
