<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
<div class="panel-body">
	<span th:text="${userInfo.openid}"></span>
    <span th:text="${userInfo.nickname}"></span>
    <span th:text="${userInfo.sex}"></span>
    <span th:text="${userInfo.province}"></span>
    <span th:text="${userInfo.city}"></span>
    <span th:text="${userInfo.country}"></span>
    <img class="layui-nav-img" th:src="${userInfo.headimgurl}"/>
    <span th:text="${userInfo.unionid}"></span>
    <span th:text="${userInfo.privilege}"></span>
</div>

</body>
</html>